# This is an example of environment variables for the docker-compose setup.
# You can copy this file to .env and fill in the values as needed.
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=